.projectsFilter {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: .8rem;

    margin: 4rem 0 4rem 0;

    > div {
        //header row (h1 & toggle)
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        gap: 1.5rem;
        
        margin: 0;
        margin-bottom: 4rem;

        width: 100%;

        h1 {
            margin: 0;
            margin-right: 6rem;
        }
    }

    //Filter Button
    .filterBtn {
        color: _colour(white);
        background-color: _colour(bg);
        text-decoration: none;
        padding: .5rem;
        display: inline-block;
        border: 1px solid _colour(white);;
        border-radius: .5rem;
        font-size: _size(textS);

        //margin: .5rem;
    
        transition: _duration(default);

        cursor: pointer;
    
        &:hover {
            background-color: _colour(white);
            color: _colour(bg);
        }

        &--selected{
            background-color: _colour(white);
            color: _colour(bg);
        }
    }


}

